#navbar #title {
  color: #fff;
  opacity: 0.8;
}

#navbar #title a {
  color: #fff;
}

#navbar #subtitle {
  color: #fff;
  opacity: 0.6;
}

#navbar #social {
  display: none;
}

#project-page {
  margin-top: -100px;
  padding-bottom: 80px;
  line-height: 35px;
}

.project-hero {
  height: 375px;
  width: 100%;
  position: relative;
}

.fix-hero {
  position: fixed;
  top: 0;
  height: 75px !important;
}

.fix-hero #project-title {
  height: 75px;
  line-height: 75px;
  text-align: left;
  color: #fff !important;
  margin-left: 50px;
  position: relative;
  margin-top: 0;
  bottom: 0;
}

#project-title {
  height: 75px;
  line-height: 75px;
  margin-top: 100px;
  text-align: left;
  color: #fff !important;
  bottom: 10px;
  left: 0;
  position: absolute;
  margin-left: 50px;
}

#project-description {
  width: 50%;
  margin: 100px auto;
}

#project-page h1 {
  font-size: 37px;
  margin-bottom: 15px;
  color: #424242;
}

#project-page h2,
#project-page h3 {
  margin-top: 40px;
  margin-bottom: 5px;
  color: #9a9a9a;
  text-align: left;
}

#project-page p {
  margin-top: 15px;
  color: #515151;
  text-align: justify;
  font-size: 16px;
}

#project-page ul,
#project-page ol {
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#project-page p img {
  max-height: 600px;
  max-width: 600px;
  display: block;
  margin: 50px auto;
  border: 2px solid #eaeaea;
}

#project-page video {
  max-width: 700px;
  display: block;
  margin: 50px auto;
}

#project-page a:not(img) {
  font-weight: 400;
  color: #fa6900;
  border-bottom: 1px solid #fa6900;
}

#project-nav-links {
  margin-top: 20px;
  margin-bottom: 20px;
}

pre {
  margin-top: 40px;
  margin-bottom: 40px;
}

pre,
code {
  color: #7a7a7a;
  text-align: left;
}

/*
 * Responsive Queries.
 */
@media (max-width:900px) {
 .project-hero {
   height: 350px !important;
 }

 #project-title {
   margin-left: 25px !important;
 }

 #project-page h1 {
   font-size: 30px !important;
 }

 #project-description {
   width: 85% !important;
 }

 .project-container {
   display: block;
 }

 #project-page p img {
   max-width: 275px !important;
 }

 #project-page p video {
   max-width: 275px !important;
 }
}
